body {
    color: antiquewhite;
    background: #222;
    padding: 0;
    margin: 0;
}
#messages {
    border: 1px solid red;
}
#textfield {
    width: calc(100% - 20px);
    border: none;
    padding: 10px;
}